@page
@model Web.Pages.SalaryComponents.EditModel
<div>
    <h2 class="text-center header m-5 " style="font-family: 'MS UI Gothic'">Updating Salary Details</h2>
    <form method="post">
    <table class="table table-bordered mt-5" style="margin:auto; table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total hours</th>
                <th>Bonus hours</th>
                <th>Bonus wages</th>
                <th>Expenses</th>
                <th style="width:28%"></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <input type="date" asp-for="@Model.SalaryComponents.Date" class="form-control" style="background-color: transparent" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.SalaryComponents.TotalHours" class="form-control" style="background-color: transparent" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.SalaryComponents.BonusHours" class="form-control" style="background-color: transparent" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.SalaryComponents.BonusWage" class="form-control" style="background-color: transparent" />
                    </td>
                    <td>
                        <input type="number" asp-for="@Model.SalaryComponents.Expenses" class="form-control" style="background-color: transparent" />
                    </td>
                    <td hidden>
                        <input  type="number" asp-for="@Model.SalaryComponents.EmployeeId" class="form-control" style="background-color: transparent" />
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" style="width: 48%;" >Save</button>
                        <a class="btn btn-outline-danger" style="width: 48%;" asp-controller="SalaryComponents" asp-action="Index" >Cancel</a>
                    </td>
                </tr>
        </tbody>
    </table>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="SalaryComponents.Date" /></div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="SalaryComponents.TotalHours" /></div>
        <a class="btn mt-4" style="background-color: black; width: 100px; color: white;" asp-page="./Index">Back</a>

    </form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
