@using MVC.ViewModels.SalaryComponentsVM
@model EmployeeSalaryComponentsVM

@{
    ViewData["Title"] = "Details";
}

<div >
    <h3 class="text-center header m-4 " style="font-family: 'MS UI Gothic'">Details of <span class="text-primary text-capitalize">@Model.EmployeeName's</span> Salary's</h3>
    <table class="table table-bordered" style="margin:auto; table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total hours</th>
                <th>Bonus hours</th>
                <th>Bonus wages</th>
                <th>Expenses</th>
                <th style="width:18%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salary in Model.AllSalaryComponents)
            {
                    <tr>
                    <td>@salary.Date.Value.ToShortDateString()</td>
                        <td>@Html.DisplayFor(modelItem => salary.TotalHours)</td>
                        <td>@salary.BonusHours</td>
                        <td>@salary.BonusWage</td>
                        <td>@salary.Expenses</td>
                        <td>
                            <button class="btn btn-outline-primary" style="width: 48%;" asp-action="Edit" >Edit</button>
                            <button class="btn btn-outline-danger" style="width: 48%;" asp-action="Delete" >Delete</button>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-primary form-control mt-3" style="width: 20%;" href="/salary">Back</a>
</div>
