@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using AutoMapper


@inject IJSRuntime _jsRuntime;
@inject IEmployeeRepository _employeeRepo;
@inject IMapper _mapper;
@inject NavigationManager _navigation

@page "/employee"

    <style>
        .btn {
            width: 250px;
        }

    </style>


<EditForm Model=SelectedEmployee OnValidSubmit=OnSubmit style="width: 50%; margin: auto;">
<DataAnnotationsValidator/>
<h2 class="m-5 text-center header">Employee's Details</h2>
<div >
    <table  class="table table-bordered border-2 border-secondary" >
  <tbody>
      <tr style="display: @SelectionVisibility">
          <th scope="row">Select Employee:</th>
          <td><select id="employee" class="form-control "   @bind-value="EmployeeId" @bind-value:event="oninput"   @onchange=SelectionChanged >
              <option value="0" selected>Please select a employee!</option>
				@foreach(var employee in Employees)
				{
					<option value="@employee.Id" >@employee.FullName</option>
				}
			</select>
            </td>
      </tr>
    <tr>
      <th scope="row">First name:</th>
      <td><InputText @bind-Value=SelectedEmployee.FirstName class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td><InputText @bind-Value=SelectedEmployee.LastName class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">D.O.B</th>
      <td><InputDate @bind-Value=SelectedEmployee.DOB class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Phone:</th>
      <td><InputText @bind-Value=SelectedEmployee.Phone class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td><InputText @bind-Value=SelectedEmployee.Email class="form-control" style="background-color: transparent"/></td>
    </tr>
  </tbody>
</table>
<div class="d-flex  justify-content-center h25 mt-5" >
        <div class="mx-2 "><button class="btn btn-outline-secondary  " type="button" style="display: @SelectionVisibility" @onclick=SetAction>Add Employee</button></div>
        <div class="mx-2"><button class="btn btn-outline-secondary " type="submit" style="display: @SelectionVisibility" @onclick=OnDelete>Delete Employee</button></div>
       
</div>
<div class="d-flex justify-content-center mt-3">
     <div class="mx-2"> <button class="btn btn-outline-secondary" type="button" @onclick=OnCancel>Cancel</button></div>
        <div class="mx-2"> <button class="btn btn-outline-secondary" type="submit" >Submit</button></div>
</div>
</div>
<ValidationSummary />
</EditForm>



@code {
    private EmployeeManager _employeeManager;
    public Employee SelectedEmployee { get; set; } = new();
    public IEnumerable<Employee> Employees = new List<Employee>();
    public int EmployeeId { get; set; }
    public string SelectionVisibility { get; set; } = "Normal";
    public string ActionType { get; set; } = NEW;
    const string EDIT = "View Details";
    const string NEW = "Add Employee";

    protected override void OnInitialized()
    {
        _employeeManager = new EmployeeManager(_mapper, _employeeRepo);
        LoadData();
    }

    public void SetAction()
    {
        //To clear all fields and selection
        SelectedEmployee = new Employee();
        EmployeeId = 0;

        ActionType = ActionType == NEW ? EDIT : NEW;
        SelectionVisibility = ActionType == EDIT ? "None" : "Normal";
        StateHasChanged();
    }

    public void SelectionChanged(ChangeEventArgs e)
    {
        SelectedEmployee = Employees.Single(e => e.Id == EmployeeId);
    }

    public async void OnSubmit()
    {
        var dtoEmpoyee = _mapper.Map<InternationalWagesManager.DTO.Employee>(SelectedEmployee);
        if (ActionType == EDIT)
            await _employeeManager.AddEmployeeAsync(dtoEmpoyee);
        else
            _employeeManager.UpdateEmployee(dtoEmpoyee);

        SelectedEmployee = new Employee();
    }

    private void OnDelete()
    {
        if (SelectedEmployee.Id == 0 || SelectedEmployee.Id == null)
            throw new NotImplementedException();
        _employeeManager.DeleteEmployeeAsync(_mapper.Map<InternationalWagesManager.DTO.Employee>(SelectedEmployee));
    }

    private void OnCancel()
    {
        _navigation.NavigateTo(_navigation.BaseUri);
    }

    private async void LoadData()
    {
        Employees = _mapper.Map<List<Employee>>(await _employeeManager.GetEmployeesAsync());
        StateHasChanged();
    }

    //public async Task ClearSelection()
    //{
    //    await _jsRuntime.InvokeVoidAsync("selectIndex", "employee", 0);
    //}

   
}

